<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <% @data["accounts"].each do |account| %>
          <li class="tab col s3"><a href="#<%= account['name'] %>"><%= account['name'] %></a></li>
          <% end %>
        </ul>
      </div>
      <% @data["accounts"].each do |account| %>
      <div id="<%= account['name'] %>" class="col s12">
        <h3><a href="/distributions">Distributions</a></h3>
        <table>
          <th>Envelope</th>
          <th>Amount</th>
          <% @data["distributions"].each do |distribution| %>
            <% if distribution["account_id"] == account['id'] %>
            <tr>
              <td><%= distribution.envelope["name"] %></td>
              <td><%= distribution.amount %></td>
            </tr>
            <% end %>
          <% end %>
        </table>
      </div>
      <% end %>
    </div>
  </div>
</div>