
<% if @deleted == "true" %>
<div class="container" onload="Materialize.toast('<span>Distribution Deleted</span><a class=&quot;btn-flat yellow-text&quot; href=&quot;#!&quot;>Undo<a>', 5000)">
<% else %>
<div class="container">
<% end %>
  <div class="section">
    <div class="row">
      <div class="col s12">
        <form id="create_distribution_form" action="/distribution/create" method="POST" class="col s12">
          <div class="row">
            <div class="input-field col s4">
              <select name="distribution[account]">
                <option value="" selected>Select an Account</option>
                <% @accounts.each do |account| %>
                <option value="<%= account["id"] %>"><%= account["name"] %></option>
                <% end %>
              </select>
              <label>Account</label>
            </div>
            <div class="input-field col s4">
              <select name="distribution[envelope]">
                <option value="" selected>Select an Envelope</option>
                <% @envelopes.each do |envelope| %>
                <option value="<%= envelope["id"] %>"><%= envelope["name"] %></option>
                <% end %>
              </select>
              <label>Envelope</label>
            </div>
            <div class="input-field col s4">
              <input name="distribution[amount]" id="distribution_amount" type="text" class="validate">
              <label for="distribution[amount]">Amount</label>
            </div>
          </div>
        </form>
        <a id="create_distribution_submit" class="waves-effect waves-light btn">Create Distribution</a>
        <script>
          document.getElementById('create_distribution_submit').onclick = function() {
            document.getElementById('create_distribution_form').submit();
          }
        </script>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h3><a href="/distributions">Distributions</a></h3>
        <form id="create_distribution_form" action="/distribution/create" method="POST" class="col s12">
          <table id="distributionTable">
            <tbody>
              <th>Account</th>
              <th>Envelope</th>
              <th>Amount</th>
              <th>Action</th>
              <% @distributions.each do |distribution| %>
              <tr>
                <td><%= distribution.account["name"] %></td>
                <td><%= distribution.envelope["name"] %></td>
                <td><%= distribution.amount %></td>
                <td><a class="waves-effect waves-light btn"><i class="mdi-editor-mode-edit"></i></a> <a class="modal-trigger waves-effect waves-light btn red" href="#delete_distribution<%= distribution['id'] %>"  ><i class="mdi-action-delete"></i></a> </td>
                <!-- Modal Trigger -->

                <!-- Modal Structure -->
                <div id="delete_distribution<%= distribution['id'] %>" class="modal modal-fixed-footer">
                  <div class="modal-content">
                    <h4>Delete Distribution</h4>
                    <p>You will delete the distribution of $<%= distribution.amount %> from <%= distribution.account["name"] %> to <%= distribution.envelope["name"] %></p>
                  </div>
                  <div class="modal-footer">
                    <form id="delete_distribution<%= distribution['id'] %>_form" action="/distribution/delete" method="POST" class="col s12">
                      <input name="distribution[id]" id="distribution<%= distribution['id'] %>" type="hidden" class="validate" value="<%= distribution["id"] %>">
                    </form>
                    <a id="delete_distribution<%= distribution['id'] %>_submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
                    <script>
                      document.getElementById('delete_distribution<%= distribution["id"] %>_submit').onclick = function() {
                        document.getElementById('delete_distribution<%= distribution["id"] %>_form').submit();
                      }
                    </script>
                  </div>
                </div>
              </tr>
              <% end %>
            </tbody>
          </table>
        </form>
        <a class="btn-floating" id="addRow"><i class="mdi-content-add"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <a id="update_distributions_submit" class="waves-effect waves-light btn">Update Distributions</a>
        <script>
          document.getElementById('update_distributions_submit').onclick = function() {
            document.getElementById('update_distributions_form').submit();
          }
        </script>
      </div>
    </div>
  </div>
</div>

  <br><br>

  <div class="section">

  </div>
</div>