<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <% @data["accounts"].each do |account| %>
          <li class="tab col s3"><a href="#<%= account['name'] %>"><%= account['name'] %></a></li>
          <% end %>
        </ul>
      </div>
      <% @data["accounts"].each do |account| %>
      <div id="<%= account['name'] %>" class="col s12">
        <h2><a href="/envelopes">Envelopes</a></h2>
        <% @data["distributions"].each do |distribution| %>
          <% if distribution["account_id"] == account['id'] %>
          <div class="col s12 m3">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title"><%= distribution.envelope["name"] %></span>
                <p><%= distribution.amount %></p>
              </div>
              <div class="card-action">
                <a href="#">Info</a>
                <a href='#'>Edit</a>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>