<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <% @accounts.each do |account| %>
          <li class="tab col s3"><a href="#<%= account['name'] %>"><%= account['name'] %></a></li>
          <% end %>
        </ul>
      </div>
      <% @accounts.each do |account| %>
      <div id="<%= account['name'] %>" class="col s12">
        <h2><a href="/envelopes">Envelopes</a></h2>

        <div class="row">
          <div class="col s12">
            <table id="account<%= account["id"] %>_table" class="display">
                <thead>
                    <tr>
                        <th>Envelope</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                      <th style="text-align:right">Total:</th>
                      <th></th>
                    </tr>
                </tfoot>
                <tbody>
                  <% @distributions.each do |distribution| %>
                    <% if distribution.account["id"] == account["id"] %>
                    <tr>
                      <td><%= distribution.envelope["name"] %></td>
                      <td><%= distribution.amount %></td>
                    </tr>
                    <% end %>
                  <% end %>
                </tbody>
            </table>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>